*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
header #description #navigation h3{
    position: relative;
}
header .image-header{
    background-image: url('./photo-desktop/image-header.jpg');
   background-size: cover;
   background-position: center;
   height: 550px;
}
header .menu-icon{
    display: none;
}
header #menu{
    display: flex;
    flex-direction: row;
    align-items: self-end;
    gap: 30px;
    background: none;
    padding: 0;
    position: relative;
    top: -20px;
    align-items: center;

}
header #menu a{
    color: white;
}
header #menu #contact {
    color: white;
    background-color: rgba(255, 255, 255, 0.372);

}
header #description h1{
    width: 100%;  
}
main #section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main #section1 #description .titre{
    position: relative;
    top: 38px;  
}
main #section1 #image1:nth-child(1){
    grid-column: 2;
    grid-row: 1;
}
main #section1 #image1{
    background-image: url('./photo-desktop/image-transform.jpg');
   background-size: cover;
   background-position: center;
   height: 400px;
   width: 100%;         
}
main #section1 #image2{
    background-image: url('./photo-desktop/image-stand-out.jpg');
   background-size: cover;
   background-position: center;
   height: 400px;
   width: 100%;
}
main #section1 #image3{
    background-image: url('./photo-desktop/image-graphic-design.jpg');
   background-size: cover;
   background-position: center;
   height: 400px;
   width: 100%;
}
main #section1 #image4{
    background-image: url('./photo-desktop/image-photography.jpg');
   background-size: cover;
   background-position: center;
   height: 400px;
   width: 100%;
}
main #section1 #description2{
    height: 400px;
}
main #section1 #groupe2{
    height: 400px;
}
main #section1 #image-texte{
    position: relative;
}
main #section2 #person{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 60px 0;
}
main #section2 #person div{
    width: 30%;   
}
main #section2 #person div p{
    font-size: 13px;
    width: 250px;
    line-height: 20px;
    padding: 10px;
}
main #groupe-image{
    display: flex;   
}
main #groupe-image .image1{
   background-image: url('./photo-desktop/image-gallery-milkbottles.jpg');
   background-size: cover;
   background-position: center;
   height: 400px;
   width: 25%;
}
main #groupe-image .image2{
    background-image: url('./photo-desktop/image-gallery-orange.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 25%;
 }
 main #groupe-image .image3{
    background-image: url('./photo-desktop/image-gallery-cone.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 25%;
 }
 main #groupe-image .image4{
    background-image: url('./photo-desktop/image-gallery-sugarcubes.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 25%;
 }

